*{font-family: 'Courier New', Courier, monospace; font-size: 20px; 
    margin:0; padding:0;}

/* make smooth scroll */
html {
    scroll-behavior: smooth;
    height: 100vh;
    width: 100vw;
}

/* Hide the scroll Bar */
::-webkit-scrollbar {
    display: none;
}

/* NAVIGATION BAR LOCATION */

.top-nav ul {
    position: fixed;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-flow: row wrap;
    width: 100%;
    margin-right: 0;
    padding: 0;
    padding-top: 50px;
    
}
.top-nav ul li {
    height: 20px;
    display: inline;
    flex: 0 1 auto;
    list-style-type: none;
    overflow: hidden; /* hide extra text*/
}
.top-nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
}

/* NAVIGATION BAR ANIMATION */
.title-container{
    transition: all 0.3s;
}
.title {
    display: block;
    font-size: 20px;
    line-height: 20px;
    transition: transform 0.3s ease;
    opacity: 10;
}
.title1 {
    transform-origin: right center;
} 
.title2 {
    transform-origin: left center;
}
.title2:hover{
    text-decoration: underline;
}
.link:hover .title-container{
    transform: translateY(-20px);
}

/* editing the sections */

section{
    padding: 0;
    box-sizing:border-box;
}

#about-me{background: #ff7b54;}
#interests{background: #ffca3a;}
#personal-projects{background: #77acf1;}
#experience{background: #ffba08;}
#academic-life{background: #e71d36;}
#photo-album{background:#f4acb7;}