*{font-family: 'Courier New', Courier, monospace; font-size: 20px; 
    margin:0; padding:0;}

/* make smooth scroll */
html {
    scroll-behavior: smooth;
    height: 100vh;
    width: 100vw;
}

p {font-size: 17px;}

h1{text-align: center; font-size: 22px;}

/* Hide the scroll Bar */
::-webkit-scrollbar {
    display: none;
}

/* NAVIGATION BAR LOCATION */

.top-nav ul {
    position: fixed;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-flow: row wrap;
    width: 100%;
    margin-right: 0;
    padding: 0;
    padding-top: 50px;
    
}
.top-nav ul li {
    height: 20px;
    display: inline;
    flex: 0 1 auto;
    list-style-type: none;
    overflow: hidden; /* hide extra text*/
}
.top-nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
}

/* NAVIGATION BAR ANIMATION */
.title-container{
    transition: all 0.3s;
}
.title {
    display: block;
    font-size: 20px;
    line-height: 20px;
    transition: transform 0.3s ease;
    opacity: 10;
}
.title1 {
    transform-origin: right center;
} 
.title2 {
    transform-origin: left center;
}
.title2:hover{
    text-decoration: underline;
}
.link:hover .title-container{
    transform: translateY(-20px);
}

/* SECTIONS EDITING */

/* about me section */
.about-me-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row wrap;

    height: 100vh;

    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 8vw;
    padding-right: 8vw;

    /*background: #ff7b54;*/
}
.about-me-container .headshot-item{
    flex: 1;
    align-self: center;
    /*background: red;*/

}
.about-me-container img {
    border-radius: 10%;
    box-shadow: 10px 10px 5px grey;
}
.about-me-container .info-item{
    flex: 1;
    /*background: white;*/
    align-self: center;
}




#interests{
    background: #ffca3a;
    align-items: center;
    justify-content: center;
}
#personal-projects{
    background: #77acf1;
    align-items: center;
    justify-content: center;
}
#experience{
    background: #ffba08;
    align-items: center;
    justify-content: center;
}
#academic-life{
    background: #e71d36;
    align-items: center;
    justify-content: center;
}
#photo-album{
    background:#f4acb7;
    align-items: center;
    justify-content: center;
}